.git
.gitignore
.dockerignore
.vscode
.idea
.venv
__pycache__
*.pyc
*.pyo
*.pyd

# Logs
logs/*
!logs/.gitkeep

# Local data — исключить (модели ты всё равно монтируешь)
data/*
!data/.gitkeep

#Frontend
frontend/.vscode/
frontend/node_modules/
frontend/dist/          # ← добавить (собранный фронт не нужен)
frontend/.env.local     # ← добавить (секреты)

# Docker
docker/loki/chunks/*
docker/loki/index/*
docker/loki/compactor/*
docker/grafana/data/    # ← добавить (локальные данные графаны)
docker/prometheus/data/ # ← добавить (локальные данные прометея)



# Cache
*.log
*.tmp
*.cache
.npm/                   # ← добавить (кэш npm)
.cache/                 # ← добавить (общий кэш)

# модели 1+ GB
!models/**
!models/.gitkeep


# Environment
.env
.env.local
.env.prod               # ← добавить (секреты продакшена)


INFO/
offline_wheels/