.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
data/
data/models_history/
lib/
lib64/
logs/
models/model.cbm
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
*.sqlite3
offline_wheels/
.env
.env.*
docker-compose.override.yml
