server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  # 1) Сбор логов backend-приложения из файлов
  - job_name: promo-ml-file-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: promo_ml_backend
          env: prod
          __path__: /var/log/promo-ml/*.log

  # 2) Сбор stdout docker-контейнеров backend
  - job_name: docker-containers
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    pipeline_stages:
      - docker: {}
    relabel_configs:
      - source_labels: ["__meta_docker_container_name"]
        target_label: container
