server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  # ---- Логи FastAPI backend ----
  - job_name: promo_ml_backend_logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: promo_ml_backend
          host: docker
          __path__: /var/log/promo_ml/*.log

    pipeline_stages:
      - json:
          expressions:
            level: levelname
            msg: message
            logger: name
            file: filename
            func: funcName
            line: lineno
            timestamp: asctime

      - labels:
          level:
          logger:
          file:
          func:
          line:

      - timestamp:
          source: timestamp
          format: "2006-01-02 15:04:05.000"
          location: "UTC"

  # ---- Логи Promtail ----
  - job_name: promtail_self
    static_configs:
      - targets:
          - localhost
        labels:
          job: promtail
          __path__: /var/log/*.log
