server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://promo_loki:3100/loki/api/v1/push

scrape_configs:

  # =========================
  # Backend (FastAPI / Uvicorn)
  # =========================
  - job_name: promo_ml_backend

    static_configs:
      - targets: [ localhost ]
        labels:
          job: promo_ml_backend
          service: backend
          __path__: /app/logs/app.log

    pipeline_stages:
      # Парсим JSON
      - json:
          expressions:
            levelname: levelname
            logger: name
            correlation_id: correlation_id
            src_file: filename
            src_line: lineno
            message: message

      # Нормализуем уровень
      - template:
          source: levelname
          template: '{{ ToUpper .Value }}'

      # Labels — ТОЛЬКО стабильные
      - labels:
          levelname:
          logger:

      # correlation_id — НЕ label (используем как derived field)

      # Финальный текст лога
      - output:
          source: message


  # =========================
  # NGINX access logs
  # =========================
  - job_name: nginx_access

    static_configs:
      - targets: [ localhost ]
        labels:
          job: nginx
          service: nginx
          __path__: /var/log/nginx/access.json

    pipeline_stages:
      # Парсим JSON access log
      - json:
          expressions:
            status: status
            method: method
            uri: uri
            request_time: request_time

      # Labels — минимально необходимые
      - labels:
          status:
          method:

      # Оставляем URI как тело сообщения
      - output:
          source: uri


  # =========================
  # PostgreSQL logs
  # =========================
  - job_name: postgres_logs
    static_configs:
      - targets: [ localhost ]
        labels:
          job: postgres
          service: postgres
          __path__: /var/log/postgresql/postgresql-*.log

    pipeline_stages:

      # Пример строки:
      # 2025-12-17 09:06:49.713 UTC [1] promo@promo LOG:  statement: SELECT ...

      - regex:
          expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+ \w+) \[(?P<pid>\d+)\] (?:(?P<user>[\w-]+)@(?P<db>[\w-]+) )?(?P<level>\w+):\s+(?P<message>.*)$'
          # expression: '^(?P<ts>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+) \w+ \[\d+\] (?P<user>\w+)@(?P<db>\w+) (?P<level>[A-Z]+):\s+(?P<message>.*)$'

      - drop:
          source: message
          regex: 'checkpoint complete|listening on'

      - labels:
          level:
          user:
          db:

      - template:
          source: level
          template: '{{ ToUpper .Value }}'

      - timestamp:
          source: ts
          format: "2006-01-02 15:04:05.000"

      - output:
          source: message

  # =========================
  # REDIS logs
  # =========================

  - job_name: redis
    static_configs:
      - targets: [ 'localhost' ]
        labels:
          job: redis
          service: redis
          container_name: promo_redis
          __path__: /var/lib/docker/containers/*/*-json.log

    pipeline_stages:
      # 1. Docker JSON
      - json:
          expressions:
            log: log
            stream: stream
            time: time

      # 2. Берём ТОЛЬКО сообщения Redis
      - match:
          selector: '{container_name="promo_redis"}'
          stages:
            - output:
                source: log

      # 3. Level Redis (* / #)
      - regex:
          expression: '^(?P<level>[\*#])\s+'
      - labels:
          level:

      # 4. Timestamp
      - timestamp:
          source: time
          format: RFC3339Nano

