server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://promo_loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: promo_ml_backend_logs
    static_configs:
      - targets: [ localhost ]
        labels:
          job: promo_ml_backend
          service: backend
          __path__: /app/logs/app.log

    pipeline_stages:
      - json:
          expressions:
            levelname: levelname
            logger: name
            correlation_id: correlation_id
            filename: filename
            lineno: lineno

      - labels:
          levelname:
          logger:

      # correlation_id — НЕ label по умолчанию!
      # будем использовать как derived field

      - output:
          source: message

