apiVersion: 1

groups:
  - name: promo-ml-backend-alerts
    folder: Promo-ML
    interval: 1m

    rules:
      - uid: backend_high_error_rate
        title: BackendHighErrorRate

        condition: A

        data:
          - refId: A
            datasourceUid: loki
            relativeTimeRange:
              from: 300
              to: 0
            model:
              refId: A
              queryType: range
              expr: |
                sum by (job) (
                  rate(
                    {job="promo_ml_backend", level="ERROR"}[1m]
                  )
                )
              intervalMs: 60000
              maxDataPoints: 43200

        for: 2m

        labels:
          severity: critical
          service: backend

        annotations:
          summary: "High error rate in backend"
          description: "More than 5 ERROR logs per minute in promo_ml_backend."
