apiVersion: 1

groups:
  # ======================
  # Backend (Loki)
  # ======================
  - name: promo-ml-backend-alerts
    folder: Promo-ML
    interval: 1m

    rules:
      - uid: backend_high_error_rate
        alert: BackendHighErrorRate
        title: Backend High Error Rate
        condition: A

        data:
          - refId: A
            datasourceUid: loki
            relativeTimeRange:
              from: 300
              to: 0
            model:
              refId: A
              queryType: range
              expr: |
                sum(
                  rate(
                    {job="promo_ml_backend"} | json | levelname="ERROR" [5m]
                  )
                ) > 5
              intervalMs: 60000
              maxDataPoints: 43200

        for: 2m
        labels:
          severity: critical
          service: backend
        annotations:
          summary: "High error rate in backend"

  # ======================
  # Postgres (Prometheus)
  # ======================
  - name: promo-ml-postgres-alerts
    folder: Promo-ML
    interval: 1m

    rules:
      - uid: postgres_slow_queries_burst
        alert: PostgresSlowQueriesBurst
        title: Postgres Slow Queries Burst
        condition: A

        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange:
              from: 300
              to: 0
            model:
              refId: A
              queryType: range
              expr: |
                rate(pg_stat_statements_total_time_seconds[5m]) > 5
              intervalMs: 60000
              maxDataPoints: 43200

        for: 2m
        labels:
          severity: warning
          service: postgres
        annotations:
          summary: "Postgres slow queries burst"
